DJANGO_SETTINGS_MODULE=core.settings.base
DEBUG=True
SECRET_KEY='django-insecure-)lg*r+g30=z!0d1v_9do=oi_lx(qkpvyt@8fomhs)1u(1&1i*9'
API_HOST=localhost:8000/api/v1
DEFAULT_HOST=localhost:8000

DB_NAME=mydb
DB_USER=user
DB_PASSWORD=password
DB_HOST=mysql
DB_PORT=3306

MONGO_DB_HOST=mongo
MONGO_DB_PORT=27017
MONGO_DB_NAME=mongo_db
MONGO_DB_USERNAME=root
MONGO_DB_PASSWORD=root
MONGO_DB_URI=mongodb://root:root@mongo:27017

REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=supersecretpassword
REDIS_URL=redis://redis:6379/
# REDIS_CHANNEL_URL=redis://:supersecretpassword@redis:6379/1
# CELERY_URL=redis://:supersecretpassword@redis:6379/0

EMAIL_HOST=smtp.gmail.com
EMAIL_HOST_USER=nhom9qlda2223@gmail.com
EMAIL_HOST_PASSWORD='wcaa pheb qxoz pcbx'
DEFAULT_FROM_EMAIL='Django-example <noreply@domain.com>'