DJANGO_SETTINGS_MODULE=core.settings.base
DEBUG=True
SECRET_KEY='django-insecure-)lg*r+g30=z!0d1v_9do=oi_lx(qkpvyt@8fomhs)1u(1&1i*9'

SQL_ENGINE=django.db.backends.mysql
DB_NAME=mydb
DB_USER=user
DB_PASSWORD=password
DB_HOST=127.0.0.1
DB_PORT=3306

NOSQL_ENGINE=
MONGO_DB_HOST=mongo
MONGO_DB_PORT=27017
MONGO_DB_NAME=mongo_db
MONGO_DB_USERNAME=root
MONGO_DB_PASSWORD=root
MONGO_DB_URI=mongodb://root:root@mongo:27017

REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=supersecretpassword
REDIS_URL=redis://redis:6379/
# REDIS_CHANNEL_URL=redis://:supersecretpassword@redis:6379/1
# CELERY_URL=redis://:supersecretpassword@redis:6379/0